@using RockFord.DataLayer.Entities.Contents
@using RockFord.Application.Utility
@model RockFord.DataLayer.DTOs.Content.ArticleForShowViewModel

@{
    ViewData["Title"] = @Model.MainTitle;
   
}




<main id="single-main">
    <div class="container">
        <div class="single-main">
            <section id="single-article">
                <div class="single-article-header">
                    <div class="article-header-title">
                        <h1>@Model.Header</h1>
                    </div>
                    <div class="article-header-img">
                        <img src="@(PathExtensions.ArticleOrigin + Model.ImageName)" alt="@Model.Description" />
                    </div>
                </div>
                <div class="single-article-item">
                    <p>@Html.Raw(Model.Text)</p>
                </div>
                <div class="back-link">
                    <a href="#">#ضبط</a>
                    <a href="#">#لینک</a>
                    <a href="#">#بهترین ضبط ها</a>
                    <a href="#">#بزارهای نصب</a>
                    <a href="#">#دمپینگ</a>
                    <a href="#">#پست های محبوب</a>
                    <a href="#">#آموزش</a>
                    <a href="#">#نصب</a>
                    <a href="#">#ضبط</a>
                    <a href="#">#لینک</a>
                    <a href="#">#بهترین ضبط ها</a>
                    <a href="#">#بزارهای نصب</a>
                    <a href="#">#دمپینگ</a>
                    <a href="#">#پست های محبوب</a>
                    <a href="#">#آموزش</a>
                    <a href="#">#نصب</a>
                </div>
                <!-- comment section start -->
                <div class="comment">
                    <div class="comment-title">
                        <i class="fa-solid fa-message"></i>
                        <h3>نظرات کاربران</h3>
                    </div>
                    <div class="comment-singup">
                        <span>
                            جهت ثبت نظر باید در سایت
                            <a href="#">عضوشوید </a>
                            و یا
                            <a href="#"> وارد سایت</a>
                            شده باشید
                        </span>
                    </div>
                    <div class="comment-desc">
                        <h4>نظر خود را وارد کنید!</h4>
                        <form asp-controller="Comment" asp-action="NewComment" asp-route-id="@Model.Id"  method="post">
                            <div>
                                <textarea asp-for="Comment" placeholder="لطفا نظر خود را وارد کنید"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </form>
                    </div>
                    @await Component.InvokeAsync("Comment")
                </div>
               
                <!-- comment section end -->
            </section>
            <!-- sidebar section start -->
            <partial name="_SinglePageSide" />
            <!-- sidebar section end -->
        </div>
    </div>
</main>